@import url('https://fonts.googleapis.com/css?family=Poiret One&display=swap');


:root{
    --black: #252625;
    --white: #ededed;
    --grey: #737475;
    --blue: #4287f5;

}




*{
    
    /* max-height: 100vh;
    max-width: 100%; */
    background-color: var(--black); 
    margin: 0 auto;
   
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{

    background-color: var(--black);
}



/* Landing page*/
.transition p{

    color: var(--white); 
    font-family: "Poiret One";
    text-align: center;
    font-size: 55px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeOut 1.4s forwards;

       
}


@keyframes fadeOut {
    0%{opacity: 1}
    100%{opacity: 0}
}



/*About -information*/

.about{
    width: 100%;
    height: 100vh;
}

.about h1{

    color: var(--white);
    font-size: 55px;

    position: absolute;

    width: 100%;
    top: 40%;
    
    font-family: "Poiret One";
    font-weight: 100;
    
    text-align: center;

}

.little-header{
    position: absolute;
    width: 291px;
    height: 36px;
    top: 35%;
    
    z-index: 0;
    width: 100%;
    text-align: center;

    
}
.little-header h2{
    font-size: 22px;
    font-weight: 700;
    font-family: "poiret one";
    color: var(--blue);

}




/*social tab nav*/ 


.home-icon{
    text-decoration: none;
    color:var(--white);
    position: relative;
    top:15px;
    font-size: 20px;
    transition: ease 0.3s;
    
}

.home-icon:hover{
    color: var(--grey);
}

.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    
}



.navbar li{

    list-style: none;
    
    padding-top: 2%;
    

}

.navbar li a{

    color:var(--white);
    text-decoration: none;
    

    transition: 0.3s ease;

}

.navbar li a:hover{

    color: var(--grey);
    font-size: 25px;
}



.linkedicon{
    font-size: 30px;
}
.giticon{
    font-size: 30px;
    padding-left: 20px;
}

.resume{
    font-size: 30px;
    padding-left: 20px;
}

/*maniupulate text nav*/

.navigate-web{

    padding-left: 5%;
}

.about{
    font-size: 15px;
    font-family: "Poiret One";
}
.projects{
    font-family: "Poiret One";
    padding-left: 20px;
    font-size: 15px
}
.contact{
    font-family: "Poiret One";
    font-size: 15px;
    padding-left: 20px
}

/*text animation*/


.container{
    position: absolute;
    top:50%;
    
    width: 100%;
    overflow: hidden;
    text-align: center;
    transition: 1.5s ease;
}

.container .text{
    position: relative;
    color: var(--grey);
    font-size: 60px;
    font-family: "Poiret One";
    font-weight: 700;
}


.container .second-text{
    padding-left: 15px;
    color: var(--blue);
}

.text.second-text:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 103%;
    width: 100%;
    background-color: var(--black);
    border-left: 2px solid var(--blue);

    animation: typeEffect 4s steps(17) infinite;
}


@keyframes typeEffect {
    40%, 60%{left: calc(100% + 4px);}
    100%{left:0%}
    
}

/* scroll icon */ 




/* About page */

.container-1{
    min-height: 100vh;
    width: 100%;
    /* position: absolute;
    top: 100%; */
    
}


.about-1{
    text-align: center;



    font-size: 40px;
    font-family: "Poiret One";
}

.about-text{
    color: var(--white);
}

.me-text{
    color: var(--blue);
}


.paragraph-1{

    position: relative;
    top: 10%;
    right: 25%;


   
    height: 610px;
    width: 750px;

    font-size: 30px;
    font-family: "Poiret One";
    color: var(--white);

    background-color: #313030;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

    
}

.paragraph-text{
    background-color: #313030;
    position: absolute;
    width: 700px;
    height: 589px;
    left: 20px;
    top: 10px;
}












.about-me-container{
    position: relative;
    top: 30px;
    display: table;
    /* width: 1700px; */
    width: 90%;
    background-color: #252625;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* height: 800px; */
    height: 80vh;
    
    border-radius: 20px;
}

/*profile pic */

.profile-picture{
    /* position: absolute;
    left: 65%;
    bottom: 15%;
     */
    position: absolute;
    left: 140%;
      
    
}

.profile-picture img{
    width: 448px;
    height: 550px;
    border-radius: 20px;
    
}





/*scroll bar*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
    
    
  }

::-webkit-scrollbar-thumb:hover {
background: var(--white); 
}


/*Skills setting*/

.container-2{
    width: 100%;
    height: 50vh;
    /* position: absolute;
    top: 200%; */
}

.skills-title{
    position: relative;
    color: var(--blue);
    font-family: "Poiret One";
    font-size: 40px;
    display: table;
    
}



.skills-container{
    position: relative;
    top: 80px;
    display: table;
    
    
    

   
}

.box{
    
    width: 321px;
    height: 136px;
    border-radius: 20px;
    background: #313030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    float: left;
    /* margin: 50px; */
    margin: 20px;
   

}



.lang-title{
    
    background-color: #313030;
    color: var(--white);
    font-family: "Poiret One";
    text-align: center;
    position: relative;
    top: 10px;
    border-radius: 30px;
    


}
.skill-set-lang{
    position: relative;
    text-align: center;
    top: 35px;
    background-color: #313030;
    color: var(--blue);
    
    font-family: "Poiret One";

}


/*work experience section*/

.container-3{
    
    width: 100%;
    height:75vh;
    
    
}

.work-title{
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: "Poiret One";
    color: var(--white);
    font-size: 40px;
}

.work-container{
    position: relative;
    width: 986px;
    height: 399px;
    color:#313030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    top: 80px;
}

.company{
    font-family: "Poiret One";
    color: var(--white);
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: 30px;
}

.company a{
    text-decoration: none;
    color: var(--white);
}

.company a:hover{
    color:var(--grey);
}

.project-name{
    color: var(--blue);
}


.work-container ul{
    position: absolute;
    width: 484px;
    height: 250px;
    top: 100px;
    
}

.work-container ul li{
    font-size: 15px;
    font-family: "Poiret One";
    color: var(--white);
}

.box-1{
    position: absolute;
    left: 700px;
    top: 50px;
    width:170px;
    height: 270px;
    border-radius: 20px;
    background-color: var(--white);
    
}
.box-2{
    border-radius: 20px;
    position: absolute;
    width: 160px;
    height: 255px;
    top: 5px;
    
    
}

.box-2 img{
    position: absolute;
    border-radius: 20px;
    width: 154px;
    height: 285px;
    bottom: 10px;
    right: 30px;
}

/*projects gallery*/
.container-4{
    
    width: 100%;
    height: 100vh;
    
    

}

.projects-title{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: var(--blue);
    font-family: "Poiret One"
}

.gallery img{
    width: 340px;
    height: 242px;
    border-radius: 20px;

}

.gallery-container{
    position: relative;
    
    /* top: 50px; */
    top: 6%;
    /* width: 1600px; */
    /* width: 60%; */
    
    
    display: table;
    /* background-color:var(--black);

    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}




.gallery{
   
   

    width: 340px;
    height: 800px;
    background: #313030;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    float: left;
    margin: 30px;




   
}

/*adjust gallery according to text size*/
.weather{
    height:620px;
}

.holo{
    height: 560px;
}



.ecommerce{
    height:450px;
}

.python{
    height: 600px;
}

.portfolio{
    height: 650px;
}

/*---------------------------------*/
.desc-para{
    position: relative;
    top: 25px;
    background-color:#313030;
    font-size: 12.6px;
    left: 5px;
    width: 300px;
    
    
}

.gallery .title{
    
    color: var(--white);
    font-family: "Poiret One";
    background-color: #313030;
    text-align: center;
}
.gallery .desc{
    color: var(--white);
    background-color: #313030;
    font-family: "Poiret One";
    padding-top: 20px;
    text-align: left;
    
    
}

.app-languages{
    color: var(--blue);
    background-color: #313030;
    font-size: 13px;
    position: absolute;
    width: 331px;
    text-align: center;
}



.gallery:hover{
    transform: translate(5px, -5%);
    transition: 0.5s ease;
}


.title a{
    text-decoration: none;
    background-color: #313030;

}
.title i{
    background-color: #313030;
    color: var(--white);

}
.title i:hover{
    color: var(--grey);
    transition: 0.5s ease;
}

/*Contact section*/
.container-5{
    position: absolute;
    width: 100%;
    height: 100vh;
    /* top: 490%; */
    
    
   

}

.contact-title{
    position: absolute;
    width: 100%;
    font-family: "Poiret One";
    color: var(--white);
    font-size: 40px;
    text-align: center;
}
.me-title{
    color: var(--blue);
}


.contact-options{
    margin-top: 100px;
    width: 800px;
    height: 350px;
    background-color: #313030;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}



.contact-options i{
    color: var(--blue);
    font-size: 50px;
    background-color:#313030;
    
}


.center-list{
    text-align: center;
    background-color: #313030;
    border-radius: 20px;;
}
.contact-options ul{
    display: inline-block;
    list-style-type: none;
    background-color:#313030;

    
}
.contact-options ul li{
    float: left;
    padding: 65px;
    background-color: #313030;
}


.links-to-contact{
    background-color:#313030;
    text-align: center;
}
.links-to-contact a{
    text-decoration: none;
    background-color: #313030;
    font-family: "Poiret One";
    color: var(--white);
    padding-left: 15px;
    transition: ease 0.5s;
}

.links-to-contact a:hover{
    color: var(--grey);
}


/*credits bottom */


.credits-web{
    width: 350px;
}


.credits{
    font-family: "Poiret One";
    color:var(--white);
    position: absolute;
    bottom: 30px;
    text-align: center;
}



/*size adjustments media queries */
@media (max-width: 1440px){

    /* .about-me-container{
        width: 1300px;
        height: 550px;
       
        
    } */

    .paragraph-1{
        
        height:500px;
        width: 650px;
        right: 20%;
        top: 20px;
    }

    .paragraph-text{
        width: 600px;
        height: 400px;
        font-size:25px;
    }

   

    .profile-picture img{
        height: 450px;
        width: 400px;
    }

    .box{
        margin: 10px;
    }

   

    .gallery{
        margin: 5px;
    }

   



}


@media  (max-width: 1530px){
    .paragraph-1{
        width:600;
        right: 20%;
        top: 5%;
    }
    .profile-picture{
        left: 110%;
    }

   

    
}


@media (max-width: 375px){

    .about{
        font-size: 7px;
       
    }
    .projects{
        
        font-size: 7px
    }
    .contact{
        
        font-size: 7px;
        
    }

    .linkedicon{
        font-size: 15px;
    }
    .giticon{
        font-size: 15px;
       
    }
    
    .resume{
        font-size: 15px;
        
    }



    .h1{
        font-size:35px;
    }

    .container .text{
        font-size: 30px;
    }


    
    .paragraph-1{
        width: 310px;
        right: 2%;
        height:400px;
        
    }

    .paragraph-text{
        width: 85%;
        font-size:15px;
        right: 3%;
        height:380px;

    }

    .profile-picture{
        left: 20%;
        top: 105%;
    }

    .profile-picture img{
        width: 200px;
        height: 250px;
    }

    .container-2{
        height: 100vh;
    }

    .company{
        font-size: 20px;
    }

    .work-container{
        width: 100%;
        height: 600px;
    }

    .work-container ul {
        width: 100%;
        top: 10%;

    }

    .work-container ul li{
        font-size:12px;
    }

    .box-1{
        left: 30%;
        top: 50%;
    }

    .gallery{
        margin: 5px;
        height: 270px;
        font-size: 10;
        width: 100%;
        
    }

    .gallery img{
        width: 150px;
        height: 100px;
        position: relative;
        display: table;
    }

    .gallery .title{
        font-size: 10px;
        
        
    
    }

    .desc-para{
        font-size:10px;
        width: 300px;
    }
    .app-languages{
        
        font-size:10px;
    }
    .desc-para{
        font-size: 6.5px;
    }

    .contact-options{
        width: 100%;
        height: 200px;
    }

    /* .contact-options ul{
        width: 200px;
        height: 100px;
        
    } */

    .contact-options ul li i{
        font-size: 20px;
    }

    .contact-options ul li{
        padding: 40px;
    }

    .links-to-contact{
        font-size: 10px;
    }

   

    

}










