@import url('https://fonts.googleapis.com/css?family=Poiret One&display=swap');


:root{
    --black: #252625;
    --white: #ededed;
    --grey: #737475;
    --blue: #4287f5;

}


*{

    max-height: 100vh;
    max-width: 100%;
    background-color: var(--black); 
    margin: 0 auto;
    box-sizing: border-box;
    
}

body{

    background-color: var(--black);
}



/* Landing page*/
.transition p{

    color: var(--white); 
    font-family: "Poiret One";
    text-align: center;
    font-size: 55px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeOut 1.4s forwards;

       
}


@keyframes fadeOut {
    0%{opacity: 1}
    100%{opacity: 0}
}



/*About -information*/
.about h1{

    color: var(--white);
    font-size: 55px;

    position: absolute;


    top: 25%;
    left: 15%;
    font-family: "Poiret One";
    font-weight: 100;
    z-index: 1;


}

.little-header{
    position: absolute;
    width: 291px;
    height: 36px;
    top: 20%;
    left: 15%;
    z-index: 0;
    
}
.little-header h2{
    font-size: 22px;
    font-weight: 700;
    font-family: "poiret one";
    color: var(--blue);

}




/*social tab*/ 

.navbar{

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li{

    list-style: none;
    padding-left: 70%;
    padding-top: 2%;
    

}

.navbar li a{

    color:var(--white);
    text-decoration: none;
    font-size: 30px;

    transition: 0.3s ease;

}

.navbar li a:hover{

    color: var(--grey);
}

.giticon{

    padding-left: 20px;
}

.resume{padding-left: 20px;}



/*text animation*/


.container{
    position: absolute;
    top:35%;
    left: 15%;
    overflow: hidden;
}

.container .text{
    position: relative;
    color: var(--grey);
    font-size: 60px;
    font-family: "Poiret One";
    font-weight: 700;
}


.container .second-text{
    padding-left: 15px;
    color: var(--blue);
}

.text.second-text:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 103%;
    width: 100%;
    background-color: var(--black);
    border-left: 2px solid var(--blue);

    animation: typeEffect 4s steps(17) infinite;
}


@keyframes typeEffect {
    40%, 60%{left: calc(100% + 4px);}
    100%{left:0%}
    
}













