@import url('https://fonts.googleapis.com/css?family=Poiret One&display=swap');


:root{
    --black: #252625;
    --white: #ededed;
    --grey: #737475;
    --blue: #4287f5;

}




*{

    max-height: 100vh;
    max-width: 100%;
    background-color: var(--black); 
    margin: 0 auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

body{

    background-color: var(--black);
}



/* Landing page*/
.transition p{

    color: var(--white); 
    font-family: "Poiret One";
    text-align: center;
    font-size: 55px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: fadeOut 1.4s forwards;

       
}


@keyframes fadeOut {
    0%{opacity: 1}
    100%{opacity: 0}
}



/*About -information*/

.about h1{

    color: var(--white);
    font-size: 55px;

    position: absolute;


    top: 25%;
    left: 10%;
    font-family: "Poiret One";
    font-weight: 100;
    z-index: 1;


}

.little-header{
    position: absolute;
    width: 291px;
    height: 36px;
    top: 20%;
    left: 10%;
    z-index: 0;
    
}
.little-header h2{
    font-size: 22px;
    font-weight: 700;
    font-family: "poiret one";
    color: var(--blue);

}




/*social tab nav*/ 

.navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar li{

    list-style: none;
    
    padding-top: 2%;
    

}

.navbar li a{

    color:var(--white);
    text-decoration: none;
    

    transition: 0.3s ease;

}

.navbar li a:hover{

    color: var(--grey);
    font-size: 25px;
}



.linkedicon{
    font-size: 30px;
}
.giticon{
    font-size: 30px;
    padding-left: 20px;
}

.resume{
    font-size: 30px;
    padding-left: 20px;
}

/*maniupulate text nav*/

.navigate-web{

    padding-left: 33%;
}

.about{
    font-size: 15px;
    font-family: "Poiret One";
}
.projects{
    font-family: "Poiret One";
    padding-left: 20px;
    font-size: 15px
}
.contact{
    font-family: "Poiret One";
    font-size: 15px;
    padding-left: 20px
}

/*text animation*/


.container{
    position: absolute;
    top:35%;
    left: 10%;
    overflow: hidden;
}

.container .text{
    position: relative;
    color: var(--grey);
    font-size: 60px;
    font-family: "Poiret One";
    font-weight: 700;
}


.container .second-text{
    padding-left: 15px;
    color: var(--blue);
}

.text.second-text:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    height: 103%;
    width: 100%;
    background-color: var(--black);
    border-left: 2px solid var(--blue);

    animation: typeEffect 4s steps(17) infinite;
}


@keyframes typeEffect {
    40%, 60%{left: calc(100% + 4px);}
    100%{left:0%}
    
}

/* scroll icon */ 


.scroll-icon{
    color: var(--grey);
    position: absolute;
    font-size: 12px;
    top: 90%;
    left: 50%;
    
}


/* About page */

.container-1{
    min-height: 100vh;
    min-width: 100%;
    position: absolute;
    top: 100%;
}


.about-1{
    position: absolute;

    left: 10%;

    font-size: 40px;
    font-family: "Poiret One";
}

.about-text{
    color: var(--white);
}

.me-text{
    color: var(--blue);
}


.paragraph-1{

    position: absolute;
    top: 100px;
    left: 10%;

    width: 625px;

    font-size: 30px;
    font-family: "Poiret One";
    color: var(--grey)
}

/*profile pic */

.profile-picture{
    position: absolute;
    left:60%;
    width: 448px;
    height: 500px;
    
}

.profile-picture img{
    border-radius: 20px;
}



/*scroll bar*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
    
    
  }

::-webkit-scrollbar-thumb:hover {
background: var(--white); 
}

















